<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SeveltLogin</servlet-name>
        <servlet-class>Servicios.SeveltLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarAvion</servlet-name>
        <servlet-class>Servicios.ServletAgregarAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarAvion</servlet-name>
        <servlet-class>Servicios.ServletEditarAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoAviones</servlet-name>
        <servlet-class>Servicios.ServletListadoAviones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarAvion</servlet-name>
        <servlet-class>Servicios.ServletEliminarAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarVuelo</servlet-name>
        <servlet-class>Servicios.ServletAgregarVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarAvionFlota</servlet-name>
        <servlet-class>Servicios.ServletAgregarAvionFlota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarAvionFlota</servlet-name>
        <servlet-class>Servicios.ServletEditarAvionFlota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListadoAvionesFlota</servlet-name>
        <servlet-class>Servicios.ServletListadoAvionesFlota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarAvionFlota</servlet-name>
        <servlet-class>Servicios.ServletEliminarAvionFlota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarVuelo</servlet-name>
        <servlet-class>Servicios.ServletEditarVuelo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeveltLogin</servlet-name>
        <url-pattern>/SeveltLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarAvion</servlet-name>
        <url-pattern>/ServletAgregarAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarAvion</servlet-name>
        <url-pattern>/ServletEditarAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoAviones</servlet-name>
        <url-pattern>/ServletListadoAviones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarAvion</servlet-name>
        <url-pattern>/ServletEliminarAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarVuelo</servlet-name>
        <url-pattern>/ServletAgregarVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarAvionFlota</servlet-name>
        <url-pattern>/ServletAgregarAvionFlota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarAvionFlota</servlet-name>
        <url-pattern>/ServletEditarAvionFlota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListadoAvionesFlota</servlet-name>
        <url-pattern>/ServletListadoAvionesFlota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarAvionFlota</servlet-name>
        <url-pattern>/ServletEliminarAvionFlota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarVuelo</servlet-name>
        <url-pattern>/ServletEditarVuelo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
